{{!-- index.hbs --}}
{{> menu}}

<div class="text-center mb-4">
    <p>&nbsp;</p>
    <img src="logo.png" alt="Logo of Mini-Cloud" title="Mini-Cloud" class="img-fluid rounded-circle" width="170" height="170">
    <p></p>
    <h3><strong>Mini-Cloud Storage</strong></h3>
</div>
<div class="container mt-4">
    <h4>Files in the cloud stored</h4>
    <div>
        {{description}}
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>File</th>
                <th>Size</th>
                <th>Time</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each filesData}}
            <tr id="file-{{@index}}">
                <td>{{@index}}</td>
                <td>{{filename}}</td>
                <td>{{size}} bytes</td>
                <td>{{time}}</td>
                <td>{{date}}</td>
                <td>
                    <a href="/api/download/{{filename}}" class="btn btn-primary">Download</a>
                    <a href="/api/open/{{filename}}" target="_blank" class="btn btn-success">Open</a>
                    <button class="btn btn-danger delete-button" data-filename="{{filename}}">Delete</button>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="6">No files found.</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<script src="/js/script_index.js"></script>
<script>
    document.getElementById('back-to-top').addEventListener('click', function() {
        window.scrollTo({ top: 0, behavior: 'smooth' });
    });
</script>