{{!-- index.hbs --}}
{{!< layout}}

<div class="text-center mb-4">
    <h3><strong>Mini-Cloud Storage</strong></h3>
    <h3>&nbsp;</h3>
    <h3>&nbsp;</h3>
</div>
<div class="container mt-4">
    <h4><strong>Topics in the cloud stored:</strong></h4>
    <h3>&nbsp;</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Topic</th>
                <th>Total Size</th>
                <th>Total Files</th>
                <th>Time</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each topics}}
            <tr>
                <td>{{this.number}}</td>
                <td>{{this.theme}}</td>
                <td>{{this.tsize}} bytes</td>
                <td>{{this.totalFiles}}</td>
                <td>{{this.time}}</td>
                <td>{{this.date}}</td>
                <td>
                    <form action="/delete-theme/{{this.theme}}" method="POST" class="delete-form">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="7">No topics found.</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
<h3>&nbsp;</h3>
<h3>&nbsp;</h3>
    <h4><strong>Files in the cloud stored:</strong></h4>
    {{#each files}}
    <h3>&nbsp;</h3>
    <h5><b>{{this.name}}</b></h5>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>File</th>
                <th>Size</th>
                <th>Time</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <h6>&nbsp;</h6>
        <tbody>
            {{#each this.data}}
            <tr>
                <td>{{@index}}</td>
                <td>{{this.filename}}</td>
                <td>{{this.size}} bytes</td>
                <td>{{this.time}}</td>
                <td>{{this.date}}</td>
                <td>
                    <a href="/download/{{this.filename}}" class="btn btn-primary">Download</a>
                    <a href="/open/{{this.filename}}" target="_blank" class="btn btn-success">Open</a>
                    <form action="/delete/{{this.filename}}" method="POST" class="delete-form">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="6">No files found for this topic.</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{/each}}
</div>
<script src="/js/script_index.js"></script>
